@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}
@foreach (var p in Model.Products) {
    //This is how the book does it:
    //Html.RenderPartial("ProductSummary", p);
    @Html.Partial("ProductSummery", p)

}
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>

